<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeoT8QN8xBQRdbXE8gq1677IlxEjit59GdnA&usqp=CAU"
        alt="profile-picture"
        class="img-thumbnail rounded-circle"
        width="100px"
      />
      <h1 class="display-4">Diviandini Azzahra</h1>
      <div class="lead">Student | Informatics Engineering</div>
    </div>
  </div>
</div>
